<div class="centered-text">
	<%= image_tag concert.poster.url(:medium) %>
	<p><strong>Band:</strong> <%= concert.band %></p>
	<p><strong>Venue:</strong> <%= concert.venue %></p>
	<p><strong>City:</strong> <%= City.find(concert.city_id).name %></p>
	<p><strong>Date:</strong> <%= concert.date %></p>
	<p><strong>Price:</strong> <%= concert.price %> euros</p>
	<p><strong>Description:</strong> <%= concert.description %></p>
</div>
